@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

*.focus {
    outline: none;
}

html {
    height: 100%;
    --widket-font-smoothing: antialized;
}

body {
    height: 100%;
    margin: 0px;
}

#root {
    height: 100%;
}